{% extends "bootstrap/base.html" %}

{% block body_attribs %}
style="background-color: tomato"
{% endblock %}

{% block title %} Meme Zone- Meme Gallery!  {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='/css/memes.css')}}>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" <a href="{{ url_for('routes.start_page') }}">Meme Zone</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href={{ url_for('routes.memes', start_page_var="True") }}>Upload Meme</a></li>
      </ul>
      <ul class="nav navbar-nav" style="margin-left: auto;">
        <li><a href="{{ url_for('routes.about') }}">About</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %} 
<h1> Meme Gallery</h1>

{% for list_itr in meme_list %}
<div class="gallery" style="float:left; width: 30%; margin: 5px; border: 2px solid black;">
  <a href = {{ url_for('routes.get_meme_by_id', meme_id=list_itr['meme_id']  ) }} target="_blank" alt="">
  <img src="{{ list_itr['meme_url']}}" alt="{{ list_itr['meme_caption'] }}" style="width: 100%; height: auto;">
  </a>
  <div class="meme_details">
    <div>
      {{ list_itr['uploader_name'] }}
    </div>
    <div>
      {{ list_itr['meme_caption'] }}
    </div>
    <div>
      meme_Id: {{ list_itr['meme_id'] }}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}